<div>
    <form action="" method="post">
        <% detalheProdutoVar.forEach((detalheProduto) => { %>
            <input type="text" value="<%= detalheProduto.nomeProduto %>">
            <input type="text" value="<%= detalheProduto.marcaProduto %>">
            <input type="text" value="<%= detalheProduto.linhaProduto %>">
            <input type="text" value="<%= detalheProduto.pesoProduto %>">
            <input type="text" value="<%= detalheProduto.precoProduto %>">
            <input type="text" value="<%= detalheProduto.validadeProduto %>">
            <img src="/img/<%= detalheProduto.imagemProduto %>" alt="img_produto">
        <% }) %>
    </form>
</div>