<%
    switch (linkButton) {
        case "alterar":
            %>
                <form action="/alterarproduto" method="post">
                    <% detalheProdutoVar.forEach((detalheProduto) => { %>
                        <input type="hidden" name="idProduto" value="<%= detalheProduto._id %>">
                        <input type="text" value="<%= detalheProduto.nomeProduto %>" required name="alterarNomeProd">
                        <input type="text" value="<%= detalheProduto.marcaProduto %>" required name="alterarMarcaProd">
                        <input type="text" value="<%= detalheProduto.linhaProduto %>" required name="alterarLinhaProd">
                        <input type="text" value="<%= detalheProduto.pesoProduto %>" required name="alterarPesoProd"> 
                        <input type="text" value="<%= detalheProduto.precoProduto %>" required name="alterarPrecoProd">
                        <input type="text" value="<%= detalheProduto.validadeProduto %>" required name="alterarValidadeProd">
                        <select required name="alterarDisponivelProd">
                            <option selected><%= detalheProduto.disponivelProduto %></option>
                            <option value="Sim">Sim</option>
                            <option value="Nao">Não</option>
                        </select>
                        <input type="text" value="<%= detalheProduto.quantidadeProduto %>" required name="alterarQuantidadeProd">
                        <button type="submit" class="btn btn-outline-dark">Alterar</button>
                    <% }) %>
                </form>
            <%
        break
        case "detalhes":
            %>
                <% detalheProdutoVar.forEach((detalheProduto) => { %>
                    <div class="container d-flex justify-content-center">
                        <div class="row d-flex align-items-center">
                            <div class="col">
                                <img src="/img/<%= detalheProduto.imagemProduto %>" class="img-produto border" alt="img_produto">
                            </div>
                            <div class="col">
                                <h2 class="fw-bold">
                                    <%= detalheProduto.nomeProduto %>
                                    <%= detalheProduto.marcaProduto %>
                                </h2>
                                <h4 class="fst-italic fw-normal">
                                    <%= detalheProduto.linhaProduto %>
                                </h4>
                                <h6>
                                    Peso:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.pesoProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Preço:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.precoProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Validade:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.validadeProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Disponivel:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.disponivelProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Quantidade:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.quantidadeProduto %>
                                    </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <%
        break
        case undefined:
        case null:
            %>
                <h1>Produto não localizado!</h1>
            <%
        break
        default:
            %>
                <h1>Produto não localizado!</h1>
            <%
    }
%>