    <%
    switch (linkButton) {
        case "alterar":
            %>
                <form action="" method="post">
                    <% detalheProdutoVar.forEach((detalheProduto) => { %>
                        <input type="text" value="<%= detalheProduto.nomeProduto %>">
                        <input type="text" value="<%= detalheProduto.marcaProduto %>">
                        <input type="text" value="<%= detalheProduto.linhaProduto %>">
                        <input type="text" value="<%= detalheProduto.pesoProduto %>">
                        <input type="text" value="<%= detalheProduto.precoProduto %>">
                        <input type="text" value="<%= detalheProduto.validadeProduto %>">
                        <select>
                            <option selected><%= detalheProduto.disponivelProduto %></option>
                            <option value="Sim">Sim</option>
                            <option value="Nao">Não</option>
                        </select>
                        <input type="text" value="<%= detalheProduto.quantidadeProduto %>">
                        <img src="/img/<%= detalheProduto.imagemProduto %>" class="produto" alt="img_produto">
                    <% }) %>
                </form>
            <%
        break
        case "detalhes":
            %>
                <% detalheProdutoVar.forEach((detalheProduto) => { %>
                    <div class="container d-flex justify-content-center">
                        <div class="row d-flex align-items-center">
                            <div class="col">
                                <img src="/img/<%= detalheProduto.imagemProduto %>" class="img-produto border" alt="img_produto">
                            </div>
                            <div class="col">
                                <h2 class="fw-bold">
                                    <%= detalheProduto.nomeProduto %>
                                    <%= detalheProduto.marcaProduto %>
                                </h2>
                                <h4 class="fst-italic fw-normal">
                                    <%= detalheProduto.linhaProduto %>
                                </h4>
                                <h6>
                                    Peso:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.pesoProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Preço:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.precoProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Validade:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.validadeProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Disponivel:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.disponivelProduto %>
                                    </p>
                                </h6>
                                <h6>
                                    Quantidade:
                                <p class="d-inline fw-normal">
                                        <%= detalheProduto.quantidadeProduto %>
                                    </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <%
        break
        case undefined:
        case null:
            %>
                <h1>Produto não localizado!</h1>
            <%
        break
        default:
            %>
                <h1>Produto não localizado!</h1>
            <%
    }
%>