<div class="container mt-5">
    <div class="row d-flex justify-content-center ">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Linha</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Validade</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Detalhes</th>
                </tr>
            </thead>
            <% acharProdutos.forEach((produtos) => { %>
                <tbody>
                    <tr>
                        <th scope="row"><%= produtos._id %></th>
                        <td>
                            <%= produtos.nomeProduto %>
                            <%= produtos.marcaProduto %>
                        </td>
                        <td><%= produtos.linhaProduto %></td>
                        <td><%= produtos.pesoProduto %></td>
                        <td><%= produtos.precoProduto %></td>
                        <td><%= produtos.validadeProduto %></td>
                        <td>
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                                Editar
                            </a>
                        </td>
                        <td>
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                                Detalhes
                            </a>
                        </td>                   
                    </tr>
                </tbody>
            <% }) %>
        </table>
    </div>
</div>